<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  type="text/css" href="./css/main.css">
    <title>ConsultaaLogins</title>
</head>
<body>
    <header class= "header">
        <main>
            <div class= "base-web">
                <div class= "pesquise-seu-login">
                    <h1 class="titulo">PESQUISE SEU LOGIN</h1>
                        <div class="area-pesquisa">
                            <div class="retangulo">
                                <h2 class="subtitulo1">SELECIONE COMO IRÁ PESQUISAR</h2>
                            </div>    
                            <div class="campo-de-pesquisa">
                                <input placeholder=" Selecione Nome Completo ou CRM..." type="text"/>
                            </div>    
                            <div class= "elipse" >
                                <div class= "CRM-radio" >
                                    <input id="radio1" name="idradio" type="radio">
                                    <label for="radio1">CRM</label>
                                </div>
                            </div>    
                            <div class= "elipse" >
                                <div class= "nc-radio" >    
                                    <input id="radio2" name="idradio" type="radio">
                                    <label for= "radio2">NOME COMPLETO</label>
                                </div>
                            </div>
                            <div class="botoes">
                                <div class="search-button">
                                    <button>PESQUISAR</button>
                                </div>    
                                <div class="clean-button">
                                    <button>LIMPAR</button>.
                                </div>    
                            </div>
            <div class="area-resultado">
                <div class="retangulo2">
                    <h2 class="dados-encontrados">DADOS ENCONTRADOS
                    </h2>
                    <h3 class="nome">NOME
                        <div class="retangulo-nome">
                        </div>
                    </h3>
                    <h3 class="crm">CRM
                        <div class="retangulo-crm">
                        </div>
                    </h3>
                    <h3 class="status">STATUS
                        <div class="retangulo-status"></div>
                    </h3>
                    <h3 class="especialidade">ESPECIALIDADE
                        <div class="retangulo-especialidade"></div>
                    </h3>
                    <h3 class="data-cadastro">DATA DE CADASTRO
                        <div class="retangulo-data"></div>
                    </h3>
                    <h3 class="seu-login-e">SEU LOGIN É:
                        <div class="retangulo-login"></div>
                    </h3>
                </div>
            </div>            
                    </div>
                </div>
            </div>                     
        </main>         
    </header>
</body>

</html>